/* Datos personales: Enol Monte Soto, UO287616 */

/* Estilos generales del proyecto MotoGP-Desktop */

/*
 Gama cromática:
    --midnight-blue: #145DA0;
    --dark-blue: #0C2D48;
    --blue: #2E8BC0;
    --baby-blue: #B1D4E0;
    --white: #F0F0F0;
*/

/* Especificidad -> 001 */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    background-color: #B1D4E0;
    color: #0C2D48;
}

/* Especificidad -> 001 */
header {
    color: #F0F0F0;
    background-color: #0C2D48;
}

/* Especificidad -> 001 */
h1 {
    color: #F0F0F0;
    /* Color de fondo se hereda de header */
}

/* Especificidad -> 001 */
nav {
    color: #F0F0F0;
    /* Color de fondo se hereda de header */
}

/* Especificidad -> 002 */
header a {
    color: inherit;
    /* Color de fondo se hereda de header */
    text-decoration-line: none;
}

/* Especificidad -> 010 */
.active {
    color: #0C2D48;
    background-color: #B1D4E0;
    font-weight: bold;
}