/* Datos personales: Enol Monte Soto, UO287616 */

/* Estilos generales del proyecto MotoGP-Desktop */

/*
 Gama cromática:
    --midnight-blue: #145DA0;
    --dark-blue: #0C2D48;
    --blue: #2E8BC0;
    --baby-blue: #B1D4E0;
    --white: #f0f0f0;
*/

:root {
    --midnight-blue: #145DA0;
    --dark-blue: #0C2D48;
    --blue: #2E8BC0;
    --baby-blue: #B1D4E0;
    --white: #f0f0f0;
}

/* Especificidad -> 001 */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    background-color: var(--baby-blue);
    color: var(--dark-blue);
}

/* Especificidad -> 001 */
header {
    color: var(--white);
    background-color: var(--dark-blue);
}

/* Especificidad -> 001 */
h1 {
    color: var(--white);
    background-color: transparent;
}

/* Especificidad -> 001 */
nav {
    color: var(--white);
    background-color: var(--dark-blue);
}

/* Especificidad -> 002 */
header a {
    color: inherit;
    background-color: transparent;
    text-decoration-line: none;
}

.active {
    color: var(--dark-blue);
    background-color: var(--baby-blue);
}