/* Datos personales: Enol Monte Soto, UO287616 */

/* Estilos del proyecto MotoGP-Desktop relativos al posicionamiento de los elementos */

/* Especificidad -> 001 */
header {
    display: flex;
    flex-direction: column;
}

/* Especificidad -> 001 */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad -> 001 */
    header, h1, nav {
        /* Aviso de redefinición permitido */
        flex-direction: column;
    }

    /* Especificidad -> 002 */
    nav a {
        flex-direction: column;
    }

    /* Especificidad -> 001 */
    video, figure {
        width: 100%; 
        height: auto;
    }

    /* Especificidad -> 001 */
    audio {
        width: 80%;
    }

    /* Especificidad -> 012 */
    body > p:first-of-type {
        display: none;
    }
}